*{
    margin: 0px;
    padding: 0px;
}
#head1{
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: rgb(247, 245, 244);
    align-items: center;

}
#input1{
    width: 30rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    border-color: black;
}
.space{
    display: flex;
  }
#container{  
    display: flex;
    text-justify: column;
}
#containt1{
    width: 15%;
    height: 1000px;
    background-color: antiquewhite;
    display: table-column; 
}
#containt1 ul{
list-style-type: none;
margin: 10px 20px;
}
li{
    display: flex;
    margin: 10px 10px;
}
li:hover{
    background-color: rgb(189, 191, 194);
    border-radius:2rem;
    height: 20px;
}
.margin1{
    margin: 0 10px;
    }
hr{
    margin: 20px 20px;
}

#containt2{
    width: 84%;
    height: 1000px;
    background-color: rgb(159, 103, 29);

}
